# Dependências
/node_modules

# Build do TypeScript
/dist

# Variáveis de ambiente
.env
.env.local

# Logs
*.log
logs/

# Configurações do IDE/Editor
.vscode/
.idea/

# Arquivos de sistema
.DS_Store

# Arquivos do npm/yarn
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-store/

# Cache
.cache/

# Cobertura de testes
coverage/

# Configurações do Jest
jest.config.js